@charset "UTF-8";
/*Esta parte pertenece a la pagia de index*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.contenedor {
  max-width: auto;
  display: flex;
  background-color: #85b8eb; }

h1 {
  /*tamaño de la fuente*/
  font-size: 25px;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #454658; }

ul li {
  font-family: Georgia, 'Times New Roman', Times, serif; }

ul li :hover {
  background-color: #f0e8e8;
  border-radius: 7%; }

nav {
  display: flex;
  align-items: auto;
  font-size: large; }

.parallax {
  background-image: url("../IMAGENES/imagen2.PNG");
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.parallax h2 {
  text-align: center;
  color: #e5e6f1; }

.campo {
  padding: 330px;
  text-align: center; }

button {
  text-align: center; }

/*Finaliza page index*/
/*Comienzo de css para page de integrantes*/
.contenedor2 {
  max-width: auto;
  display: flex;
  background-color: #85b8eb; }

.h1 {
  font-size: 25px;
  padding: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #454658; }

.flex2 {
  display: flex;
  color: #65cee0; }

ul {
  display: flex;
  list-style: none;
  padding-left: 5px;
  width: 5px; }

ul li {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none; }

ul li :hover {
  background-color: #f0e8e8; }

ul li a {
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #65cee0; }

.titulo2 {
  color: #65cee0;
  font-family: Georgia, 'Times New Roman', Times, serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 40px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back p {
  margin-top: 30px;
  font-size: 18px; }

.body__card_back input {
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

/*Finaliza css page de integrantes*/
/*Comienzo de css para page de Discografia*/
.contenedor3 {
  background-image: url("../IMAGENES/imagen3.PNG");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.flex3 {
  display: flex;
  color: #65cee0; }

ul {
  display: flex;
  list-style: none;
  padding-left: 5px;
  width: 5px; }

ul li {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none; }

ul li :hover {
  background-color: white; }

ul li a {
  text-transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #65cee0; }

.titulo1 {
  color: #65cee0;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.h2 {
  color: #65cee0;
  font-family: Georgia, 'Times New Roman', Times, serif; }

.grid3 {
  display: grid;
  grid-template-columns: repeat(12, 100px);
  grid-template-rows: repeat(25, 100px); }

/*parte nueva de discografia*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif; }

body {
  background: #F1FAFF; }

.container__card {
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  perspective: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card__father {
  margin: 20px;
  perspective: 1000px; }

.card__father:hover .card {
  transform: rotateY(180deg); }

.card {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 600ms; }

.card__front {
  background-size: cover;
  background-position: center; }

.card__front,
.card__back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 20px; }

.card__back {
  transform: rotateY(180deg);
  background: white; }

.body__card_front {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transform: translateZ(60px); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px; }

.body__card_back {
  padding: 30px;
  text-align: center;
  transform: translateZ(60px); }

.body__card_back table {
  margin-top: 10px;
  font-size: 10px; }

.body__card_back input {
  padding: 10px 10px;
  margin-top: 100px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  background: #58B0F6;
  box-shadow: 1px 1px 30px -5px #58B0F6;
  border-radius: 10px;
  transition: box-shadow 600ms; }

.body__card_back input:hover {
  box-shadow: 1px 1px 30px 0px #449de6; }

.p {
  padding: 50px; }

/*Finaliza css page de Discografia*/
/*Comienzo de css para page de Contacto*/
/*Finaliza css page de Contacto*/
/* Seccion telefono*/
@media (max-width: 1024px) {
  /* Tablet */
  /* 2 columnas */
  section div {
    flex-basis: 50%; } }

@media (max-width: 767px) {
  /* Celular */
  /* 1 columnas */
  section div {
    flex-basis: 100%; } }
