/*Esta parte pertenece a la pagia de index*/



   
    
    .contenedor{
        max-width: auto;
        display: flex;
        background-color: rgb(160, 208, 255);
    }    
    
    .contenedor h1 {
        /*tamaño de la fuente*/
        font-size: 27px;  
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color:  rgb(72, 72, 73); 
        }
    
    ul li{
        font-family: Georgia, 'Times New Roman', Times, serif;  
       
    }

    ul li :hover{ 
        background-color: rgb(230, 231, 240);
        border-radius: 7%;
    } 
    
    
    nav{
        
        display: flex;
        align-items: auto;
        font-size:large;
    }
    .parallax {
    
        background-image: url("../IMAGENES/imagen2.PNG");
      
        height: 500PX;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax h2{
        padding: 11%;
        margin: center;
        text-align:center;
        color: rgb(229, 230, 241);
        font-size: 40%;
    }
   
   
    .contenerdorb{
        display: grid;
        padding: 50px;
        padding: 400%;
    }
    
    
    

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.texto-interior{
	color:rgb(255, 255, 255);
	font-size:300px;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:0%;
	width: 80%
}
	
.img-uno{background-image: url("../IMAGENES/imagen2.PNG")}

.img-dos{background-image:url("../IMAGENES/imagen1.PNG")}

.img-tres{background-image:url("../IMAGENES/imagen5.jpg")}

.img-cuatro{background-image:url("../IMAGENES/imagen4.jpg")}


.texto{
	padding:5%;
	width: 90%
}
    .gridb{
        display:grid;
        grid-template-columns: repeat (15, 20px);
        grid-template-rows: repeat (15, 20px);
    }

    .titulo3{
               
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .textob{

        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 7;
    }
  
    .pie{
        background-color:  rgba(204, 204, 204, 0.945); 
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        justify-content: center;
        text-transform: none;
    }
    
    

    .footer_item1{
        align-items: center;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.945);
    }

    .footer_item1 p{
        color: rgb(255, 255, 255);
        text-align: center;
    }
   
    @media (max-width: 576px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 35%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }
    
    @media (max-width: 768px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 15%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }

    @media (max-width: 1200px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 35%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }
    
    /*Finaliza page index*/
    
    
    /*Comienzo de css para page de integrantes*/

   
   .contenedor2{
      background-color: rgba(204, 204, 204, 0.456);
      background-image: url("/IMAGENES/int.jpg");
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
     
    }   

    .contenedor2 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(22, 21, 21);
        }
    
    .flex2{
        
        display: flex;
        color: rgb(101, 206, 224);
    } 
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;
        
        }
        
        ul li{
         
            text-transform: uppercase;
            
            text-decoration:none
            
        }
        ul li :hover{ 
            background-color: rgb(240, 232, 232);
        }    
        
        ul li a{
            text-transform: uppercase;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgb(101, 206, 224);
        }
        .titulo2{
            color: rgb(101, 206, 224);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

     
       
      
      
 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}

.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: white;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 70px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;

}

.contenedori{
    max-width: auto;
    display: grid;
   
}


.daniels{
   
    margin: 6%;
    padding-top: 0%;
    margin-right: 40%;
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.584);
}

.animate__zoomIn{
    color: rgb(251, 110, 110);
 animation-duration: 5s;
 font-size: 50px;

}



.ben{
    margin: 6%;
    padding-top: 0%;
    margin-left: 40%;
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.584);
}

    


.animate__zoomInLeft{
    color: rgb(251, 110, 110);
    animation-duration: 5s;
    font-size: 50px;
}


.sermon{
    margin: 6%;
    padding-top: 0%;
    margin-right: 40%;
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.584);
}



.animate__zoomInRight{
    color: rgb(251, 110, 110);
    animation-duration: 5s;
    font-size: 50px;
}

.daniel{
    margin: 6%;
    padding-top: 0%;
    margin-left: 40%;
    color: rgb(11, 11, 11);
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.584);
}


.animate__bounceInLeft{
    color: rgb(251, 110, 110);
    animation-duration: 5s;
    font-size: 50px;
}



.pie2{
    background-color:  rgba(204, 204, 204, 0.251); 
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    justify-content: center;
    text-transform: none;
}



.footer_item1{
    align-items: center;
    text-align: center;
    background-color: rgba(204, 204, 204, 0.481);
}

.footer_item1 p{
    color: rgb(255, 255, 255);
    text-align: center;
}
    /*Finaliza css page de integrantes*/
    
    
    
    /*Comienzo de css para page de Discografia*/

    .contenedor3{
        background-image: url(".././IMAGENES/imagen8.jpg");
        background-color: rgb(204, 204, 204);
        height: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: scroll;
        background-color: rgba(204, 204, 204, 0.592);
        
    }
    .contenedor3 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(236, 243, 244);
        }
      

     .disco h3{
            margin: 10%;
            padding: 0%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #F1FAFF;
            text-decoration: underline;
            
        }
        

    .disco p{
        margin: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #F1FAFF;
        
        }
    
        .flexi{
            background-color: rgba(204, 204, 204, 0.797);
            color: #fff;
        }
   
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;  
        }
        
        ul li{
            padding: 10px;
            text-transform: uppercase;
            color: #ccc;
            text-decoration:none
        }

        ul li :hover{ 
            background-color: rgb(242, 245, 249);
           
        }    
        
        ul li a{
            text-transform: uppercase;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgb(101, 224, 121);
            color: #ccc;
        }

        .titulo1{
            color: rgb(101, 206, 224);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
        .h2{
            color: rgb(101, 206, 224);    
            font-family: Georgia, 'Times New Roman', Times, serif;
            }
    
    
    
   
    /*parte nueva de discografia*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
    
    body{
        background: #f1faff;
    }
    
    .container__card{
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    
    .card__father{
        margin: 20px;
        perspective: 1000px;
    }
    
    .card__father:hover .card{
        transform: rotateY(180deg);
    }
    
    
    .card{
        width: 350px;
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 600ms;
    }
    
    .card__front{
        background-size: cover;
        background-position: center;
    }
    
    
    .card__front,
    .card__back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 20px;
    }
    
    .card__back{
        transform: rotateY(180deg);
        background: rgb(247, 245, 245);
    }
    
    .body__card_front{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transform: translateZ(60px);
    }
    
    .bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    
    .body__card_back{
        padding: 30px;
        text-align: center;
        transform: translateZ(60px);
       
    }
    .body__card_back h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #449de6;
    }
    
    .body__card_back table{
        margin-top: 10px;
        font-size: 10px;
    }

    .disco1{
        color: white;
        max-width: auto;
        text-align: justify;
        margin: 3%;
        padding: 2%;
        
        
    }
    .titulo3{
       
        max-width: auto;
        text-align: justify;
        margin: auto;
        text-decoration: underline;
        margin-top: 2%;
    }
    .parrafo1{
        padding: 5%;
    }

    .footer_item1{
        align-items: center;
        text-align: center;
        background-color: rgba(204, 204, 204, 0.368);
    }

    .footer_item1 p{
        color: rgb(255, 255, 255);
        text-align: center;
    }


    /*Finaliza css page de Discografia*/
    
    /*Comienzo de css page de Tout*/

    #tour{
        background-color: #449de6;
        padding: 60px 0;
    }
    #tour .contenedor7{
        display: flex;
        justify-content: space-around;
    }
    
    #tour img{
        width: 100%;
    }

    #tour .texto{
        width: 50%;
    }

    #tour .imagen{
        width: 40%;
        position: relative;
        top: -90px;
    }

    #tour h4{
        color: #fff;
        text-align: center;
    }

    .fechas{
        display: flex;
        justify-content: space-around;
        width: 85%;
        padding-bottom: 30px;
        margin: auto;
        margin-bottom: 60px;
        border-bottom: 1px solid #ccc;
    }

    .fechas .numero{
        font-size: 34px;

    }
    .fechas h5, .fechas p{
        margin:0;

    }

    .fechas h5{
        font-size: 20px;
    }

    .fechas a{
        background: rgba(173, 221, 40, 0.493);
        border-radius: 10px;
        color:rgb(255, 255, 255);
        padding: 15px 30px;
        text-align: center;
    }





    /*Responsive de tour*/
    @media (max-width: 576px)  {
        .tour{
            max-width: auto
            ;
        }
       .contenedor7{
        max-width: auto;
       }
       #tour img{
        width: 100%;
    }

    #tour .texto{
        width: 50%;
    }

    #tour .imagen{
        width: 40%;
        position: relative;
        top: -90px;
    }

    #tour h4{
        color: #fff;
        text-align: center;
    }

    .fechas{
        display: flex;
        justify-content: space-around;
        width: 85%;
        padding-bottom: 30px;
        margin: auto;
        margin-bottom: 60px;
        border-bottom: 1px solid #ccc;
    }

    .fechas .numero{
        font-size: 34px;

    }
    .fechas h5, .fechas p{
        margin:0;

    }

    .fechas h5{
        font-size: 20px;
    }

    .fechas a{
        background: rgba(173, 221, 40, 0.493);
        border-radius: 10px;
        color:rgb(255, 255, 255);
        padding: 15px 30px;
        text-align: center;
    }
        
    }
    
    @media (max-width: 768px)  {

        .tour{
            max-width: auto
            ;
        }
            
        .contenedor7{
            max-width: auto;
           }
           #tour img{
            width: 100%;
        }
    
        #tour .texto{
            width: 50%;
        }
    
        #tour .imagen{
            width: 40%;
            position: relative;
            top: -90px;
        }
    
        #tour h4{
            color: #fff;
            text-align: center;
        }
    
        .fechas{
            display: flex;
            justify-content: space-around;
            width: 85%;
            padding-bottom: 30px;
            margin: auto;
            margin-bottom: 60px;
            border-bottom: 1px solid #ccc;
        }
    
        .fechas .numero{
            font-size: 34px;
    
        }
        .fechas h5, .fechas p{
            margin:0;
    
        }
    
        .fechas h5{
            font-size: 20px;
        }
    
        .fechas a{
            background: rgba(173, 221, 40, 0.493);
            border-radius: 10px;
            color:rgb(255, 255, 255);
            padding: 15px 30px;
            text-align: center;
        }
        
    }

    @media (max-width: 1200px)  {

        .tour{
            max-width: auto
            ;
        }
        .contenedor7{
            max-width: auto;
           }
           #tour img{
            width: 100%;
        }
    
        #tour .texto{
            width: 50%;
        }
    
        #tour .imagen{
            width: 40%;
            position: relative;
            top: -90px;
        }
    
        #tour h4{
            color: #fff;
            text-align: center;
        }
    
        .fechas{
            display: flex;
            justify-content: space-around;
            width: 85%;
            padding-bottom: 30px;
            margin: auto;
            margin-bottom: 60px;
            border-bottom: 1px solid #ccc;
            max-width: auto;
        }
    
        .fechas .numero{
            font-size: auto;
    
        }
        .fechas h5, .fechas p{
            margin:0;
    
        }
    
        .fechas h5{
            font-size: auto;
        }
    
        .fechas a{
            background: rgba(173, 221, 40, 0.493);
            border-radius: 10px;
            color:rgb(255, 255, 255);
            padding: 15px 30px;
            text-align: center;
        }
        
    }

     /*Finaliza  css para page Tout*/
    
    /*Comienzo de css para page de Contacto*/

    .contenedor5{
        max-width: auto;
        display: flex;
        background-color: rgba(238, 134, 8, 0.749);
    }   

    .contenedor5 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(236, 243, 244);
        }
    
    .flex5{
        display: flex;
        color: rgb(101, 206, 224);
    } 
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;
        
        }
        
        ul li{
            padding: 10px;
            text-transform: uppercase;
            
            text-decoration:none
            
        }
        ul li :hover{ 
            background-color: rgb(240, 232, 232);
        }    
        
        ul li a{
            
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgba(101, 205, 224, 0.496);
        }

        .contacto{
            background-image: url("/IMAGENES/contacto.jpg");
        }
       .textosContacto{        
        color: #f1faff;
        padding: 30px;
            text-align: center;
        }
       
        .correoContacto{
            margin-left: 15%;
        }
        .formulario{
            background-color: #f1faff34;
            width: 50%;
           margin-left: 25%;
         
        }

      
        
        /* Formulario */
      


    /*Finaliza css page de Contacto*/
    
