/*Esta parte pertenece a la pagia de index*/



   
    
    .contenedor{
        max-width: auto;
        display: flex;
        background-color: rgb(160, 208, 255);
    }    
    
    .contenedor h1 {
        /*tamaño de la fuente*/
        font-size: 27px;  
        padding: 20px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color:  rgb(72, 72, 73); 
        }
    
    ul li{
        font-family: Georgia, 'Times New Roman', Times, serif;  
       
    }

    ul li :hover{ 
        background-color: rgb(230, 231, 240);
        border-radius: 7%;
    } 
    
    
    nav{
        
        display: flex;
        align-items: auto;
        font-size:large;
    }
    .parallax {
    
        background-image: url("../IMAGENES/imagen2.PNG");
      
        height: 500PX;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .parallax h2{
        padding: 11%;
        margin: center;
        text-align:center;
        color: rgb(229, 230, 241);
        font-size: 40%;
        
       
        
    }
   
   
    .contenerdorb{
        display: grid;
        padding: 50px;
        padding: 400%;
    }
    
    
    

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.texto-interior{
	color:rgb(255, 255, 255);
	font-size:300px;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:0%;
	width: 80%
}
	
.img-uno{background-image: url("../IMAGENES/imagen2.PNG")}

.img-dos{background-image:url("../IMAGENES/imagen1.PNG")}

.img-tres{background-image:url("../IMAGENES/imagen5.jpg")}

.img-cuatro{background-image:url("../IMAGENES/imagen4.jpg")}


.texto{
	padding:5%;
	width: 90%
}
    .gridb{
        display:grid;
        grid-template-columns: repeat (15, 20px);
        grid-template-rows: repeat (15, 20px);
    }

    .titulo3{
               
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .textob{

        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 3;
        grid-column-end: 7;
    }
  
    .pie{
        background-color: rgb(80, 157, 235); 
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 255, 255);
        justify-content: center;
        text-transform: none;
        
    }
    .pie h4{
 
        padding: 2%;
        max-width: auto;
        text-transform: none;
    }
    .col_mail{
        color: aqua; 
        text-transform: lowercase ;

    }
    .pie p{
        text-align: justify;
        text-align: end;
    }

   
    @media (max-width: 576px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 35%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }
    
    @media (max-width: 768px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 15%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }

    @media (max-width: 1200px)  {

        .contenedor{
            max-width: auto;
        }
        .parallax h2{
            max-width:auto;
            font-size: 20%; 
            text-align: center;
            padding: 5px;
            margin-top: 35%;
            justify-content: center;
        }
        .img-uno{
            max-width:auto;
        }

        .img-dos{
            max-width:auto;
        }
        .img-tres{
            max-width:auto;
        }
        .img-cuatro{
            max-width:auto;
        }

        .texto-interior{
            max-width:auto; 
        }
        .parallax h2{
            max-width:auto; 
        }
        
    }
    
    /*Finaliza page index*/
    
    
    /*Comienzo de css para page de integrantes*/

    .contenedor2{
        max-width: auto;
        display: flex;
        background-color: rgb(133, 184, 235);
    }   

    .contenedor2 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(236, 243, 244);
        }
    
    .flex2{
        display: flex;
        color: rgb(101, 206, 224);
    } 
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;
        
        }
        
        ul li{
            padding: 10px;
            text-transform: uppercase;
            
            text-decoration:none
            
        }
        ul li :hover{ 
            background-color: rgb(240, 232, 232);
        }    
        
        ul li a{
            text-transform: uppercase;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgb(101, 206, 224);
        }
        .titulo2{
            color: rgb(101, 206, 224);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

     
        
      
      
        @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: #F1FAFF;
}

.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: white;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}
    /*Finaliza css page de integrantes*/
    
    
    
    /*Comienzo de css para page de Discografia*/
    .contenedor3{
        background-image:url("../IMAGENES/imagen3.PNG");
        
        height: 600px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        
    }
    .contenedor3 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(236, 243, 244);
        }

     .disco h3{
            margin: 10%;
            padding: 0%;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: #F1FAFF;
            
        }
        

    .disco p{
        margin: 10%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #F1FAFF;
        
        }
    
    
    .flex3{
        display: flex;
        color: rgb(101, 206, 224);
    } 
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;
        
        }
        
        ul li{
            padding: 10px;
            text-transform: uppercase;
           
            text-decoration:none
            


            
        }
        ul li :hover{ 
            background-color: rgb(238, 241, 245);
        }    
        
        ul li a{
            text-transform: uppercase;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgb(101, 224, 121);
        }
        .titulo1{
            color: rgb(101, 206, 224);
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
    
        .h2{
            color: rgb(101, 206, 224);    
            font-family: Georgia, 'Times New Roman', Times, serif;
            }
    
    .grid3{
        display: grid;
        grid-template-columns: repeat( 12, 100px)  ;
        grid-template-rows:repeat(25, 100px) ;
    }
    
   
    /*parte nueva de discografia*/
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
    }
    
    body{
        background: #F1FAFF;
    }
    
    .container__card{
        max-width: 1200px;
        margin: auto;
        margin-top: 100px;
        perspective: 1000px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    
    .card__father{
        margin: 20px;
        perspective: 1000px;
    }
    
    .card__father:hover .card{
        transform: rotateY(180deg);
    }
    
    
    .card{
        width: 350px;
        height: 400px;
        position: relative;
        transform-style: preserve-3d;
        transition: all 600ms;
    }
    
    .card__front{
        background-size: cover;
        background-position: center;
    }
    
    
    .card__front,
    .card__back{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transform-style: preserve-3d;
        border-radius: 20px;
    }
    
    .card__back{
        transform: rotateY(180deg);
        background: white;
    }
    
    .body__card_front{
        width: 100%;
        height: 100%;
        text-align: center;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        transform: translateZ(60px);
    }
    
    .bg{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    
    .body__card_back{
        padding: 30px;
        text-align: center;
        transform: translateZ(60px);
       
    }
    .body__card_back h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #449de6;
    }
    
    .body__card_back table{
        margin-top: 10px;
        font-size: 10px;
    }

    .disco1{
        color: white;
        max-width: auto;
        text-align: justify;
        margin: auto;
        
    }
    .disco1_titulo3{
        color: white;
        max-width: auto;
        text-align: justify;
        margin: auto;
    }

    
   

   
    
    
    /*Finaliza css page de Discografia*/
    
    
    
    /*Comienzo de css para page de Contacto*/

    .contenedor5{
        max-width: auto;
        display: flex;
        background-color: rgb(133, 184, 235);
    }   

    .contenedor5 h1{
        font-size: 23px;  
        padding: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif; 
        color: rgb(236, 243, 244);
        }
    
    .flex5{
        display: flex;
        color: rgb(101, 206, 224);
    } 
    
    ul{
        display: flex;
        list-style: none;
        padding-left: 5px;
        width: 5px;
        
        }
        
        ul li{
            padding: 10px;
            text-transform: uppercase;
            
            text-decoration:none
            
        }
        ul li :hover{ 
            background-color: rgb(240, 232, 232);
        }    
        
        ul li a{
            text-transform: uppercase;
            font-family:Georgia, 'Times New Roman', Times, serif;
            color: rgb(101, 206, 224);
        }

        .textosContacto {
            grid-column: 1/13;
            text-align: center;
        }
        
        .textosContacto h2 {
            color: var(--blanco);
            font-weight: 600;
            width: 95%;
            text-shadow: 2px 2px 2px rgba(94, 94, 95, 0.487);
        }
        
        .textosContacto hr {
            width: 30%;
            border: 0;
            height: .2rem;
            border-radius: 1rem;
            /* margin-left: 0%; */
            background-color: var(--secundario);
        }
        
        .correoContacto {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        @media only screen and (min-width: 768px) {
            .textosContacto {
               grid-column: 2/7;
               text-align: left;
            }
        
            .textosContacto hr {
                margin-left: 0%;
            }
        
            .correoContacto {
                justify-content: flex-start;
            }
        
            .botonMain {
                margin-left: 1rem;
            }
        }
        
        /* Formulario */
        .formulario {
            grid-column: 1/13;
        /*     text-align: center; */
            background-color: var(--primarioº);
            width: min(60rem, 100% );
            margin: 0 auto;
            /* padding: 1rem; */
            margin-bottom: 3rem;
        }
        
        .formulario fieldset {
            border: none;
        }
        
        .formulario legend {
            color: var(--secundario);
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
        }
        .campo span {
            color: var(--rojo);
        }
        
        .campo label{
            display: block;
            margin: 1.5rem 0 .5rem 0;
            width: 100%;
            font-weight: 500;
        }
        
        .campo input {
            border-radius: .5rem;
            border: 1rem var(--negro);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            height: 3rem;
            /* width: 80%; */
            width: 100%;
        }
        
        .campo textarea {
            border-radius: .5rem;
            border: 1rem var(--negro);
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            height: 8rem;
            width: 100%;
            /* width: 80%; */
        }
        
        @media only screen and (min-width: 1200px) {
            .cuentas {
                height: 50rem;
            }
        
            .contacto {
                height: 50rem;
            }
        
            .formulario {
                grid-column: 7/12;
            }
        
            .formularioIzquierda {
                grid-column: 2/7;
            }
        }
        
        .lineaDivisora {
            border: 0px solid var(--secundario);
            height: .2rem;
            border-radius: 1rem;
            background-color: var(--secundario);
        }
        
        .botonFormulario {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        
        @media only screen and (min-width: 1200px) {
            .botonFormulario {
                text-align: left;
                margin-left: 1.5rem;
            }
        }
        
        .botonFormulario input {
            padding: auto 2rem;
        }


    /*Finaliza css page de Contacto*/
    
